@import "../components/variables";

.AboutPage {
  max-width: 1200px;

  a {
    text-decoration: underline;
  }

  p,
  li {
    line-height: 1.5;
  }

  li {
    text-transform: none;
  }
}

.ProfilePhoto {
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: $item-width) {
    display: block;
    float: right;
  }

  img {
    width: 400px;
  }
}
