@use "sass:math";
@import "../components/variables";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include text-font();
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  @include h1-font();
}

h2 {
  @include h2-font();
}

p {
  @include text-font();
  text-transform: none;
}

a {
  color: black;
}
