@use "sass:math";
@import "variables";

.GalleryTitle {
  text-align: center;

  @media (min-width: $item-width) {
    text-align: left;
  }

  font-size: 2.5rem;
  text-transform: uppercase;

  width: 100%;
  margin-bottom: 16px;
}

.GalleryTitleParent {
  font-size: 70%;

  @media (min-width: $item-width) {
    font-size: inherit;
  }
}

.GalleryTitleParent,
.GalleryTitleChild {
  display: block;
  margin-bottom: 8px;

  @media (min-width: $item-width) {
    display: inline;
    margin-bottom: 0;
  }
}

.GalleryTitleSeparator {
  display: none;

  @media (min-width: $item-width) {
    display: inline;
  }
}

.Gallery {
  width: 100%;
}

.GalleryItems {
  $min-width: 400px;
  $gap: 16px;

  display: grid;
  gap: $gap;

  @media (min-width: $min-width + $gap) {
    grid-template-columns: repeat(auto-fill, minmax($min-width, 1fr));
  }
}

.GalleryItem {
  position: relative;

  &:after {
    display: block;

    content: "";
    padding-bottom: 100%;
  }
}

.GalleryImage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
  width: 100%;
  height: 100%;
}
