@use "sass:math";
@import "variables";

.Sidebar {
  text-align: center;

  a,
  a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;

    transition: text-decoration-color 100ms ease-in-out;
  }

  a {
    text-decoration-color: rgb(192, 192, 192);
  }

  a:hover,
  h2 a,
  h2 a:hover {
    text-decoration-color: rgb(128, 128, 128);
  }

  @media (min-width: $item-width) {
    text-align: left;

    // compensate for negative margin on gallery
    margin-left: $grid-margin;
    margin-right: $grid-margin + $page-margin;
  }

  .Logo {
    font-family: "JetBrains Mono", monospace;
    font-size: 4rem;
    font-weight: 800;
    font-style: normal;
    letter-spacing: -1px;

    text-align: left;

    @media (min-width: $item-width) {
      text-align: left;
    }

    a,
    a:hover {
      text-decoration: none;
    }
  }

  .LogoBlue {
    color: $blue;
  }
}

.SidebarMenuButton {
  background: none;
  border: 1px solid black;
  border-radius: 2px;

  cursor: pointer;

  font-weight: 700;

  &:hover {
    background-color: rgb(230, 230, 230);
  }

  &,
  &:hover {
    transition: background-color 0.1s ease-in-out;
  }
}

.SidebarOpenMenuButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: $sidebar-vertical-margin;
  padding: 8px 16px;

  font-size: 2rem;
  text-transform: uppercase;

  @media (min-width: $item-width) {
    display: none;
  }
}

.SidebarMenuIcon {
  width: 1rem;
  height: 1rem;

  margin-right: 10px;
}

$menu-margin: 32px;

.SidebarMenu {
  @media (max-width: $item-width - 1) {
    display: none;

    &.Open {
      display: block;
    }

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;
    overflow: auto;

    border: 1px solid black;
    background-color: white;
    padding: $menu-margin;
  }

  @media (min-width: $item-width) {
    display: block;
  }
}

.SidebarCloseMenuButton {
  margin-bottom: 24px;
  padding: 4px 8px;

  @media (min-width: $item-width) {
    display: none;
  }
}

.SidebarHeader {
  margin-bottom: $sidebar-vertical-margin;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SidebarSection {
  margin-bottom: 40px;
}

.SidebarFooter {
  @include text-font();
  font-weight: 200;
  text-transform: none;

  div:not(:last-child) {
    margin-bottom: 8px;
  }
}
