@mixin h1-font() {
  font-family: "Work Sans", serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

@mixin h2-font() {
  @include h1-font();

  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: lowercase;
}

@mixin text-font() {
  @include h1-font();

  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: lowercase;
}

$blue: rgb(0, 120, 255);

$page-margin: 32px;
$grid-margin: 6px;
$items-per-row: 3;
$item-width: 800px;

$sidebar-vertical-margin: 40px;
